---
layout: "projects"
title: "Home"
---
      <header>
      <nav class="left">
        <img class="logops" src="images/Bildschirmfotologo.png" alt="LOGO" />
      </nav>
    <nav class="center2">
      <h1>PROJEKTE</h1>
    </nav>
    <nav class="center">
    </nav>
    </header>
    <nav class="liste2">
    <div class="zwischenueberschrift">
    </div>
    <table class="startsite">
      <tr>
        <td>
          <img class="logos" src="images/Folie3.png" alt="logo" />
          <a href="projekt_1.html">PROJEKT 1</a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="logos2" src="images/logopro2.png" alt="logo" />
          <a class="linkabstand" href="projekt_2.html">PROJEKT 2</a>
        </td>
      </tr>
    </table>
  </body>
</html>
