<! DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="style_Legende.css" type="text/css" />
  </head>
  <body>
    <div class="Breadcrumbs">
      <a href="index.html">Startseite</a>
      &gt;
      <a href="Legende.html">Legende</a>
      &gt;
  <table border="1px">
    <tr>
      <td>
        Anzeigen:
      </td>
      <td class="Head">
        Status
      </td>
      <td class="Head">
        Name
      </td>
      <td class="Head">
        Letzter stabiler build
      </td>
    </tr>
    <tr>
      <td>
        Erklärungen
      </td>
      <td>
        "Status" zeigt den Status der Datei an Gr&uuml;ner Punkt bedeutet: Status Stabil,
        blauer Punkt bedeutet: Instabil, roter Punkt bedeutet: Fehlerhaft. Auch zu sehen wenn man mit dem Maus Cursor &uuml;ber den jeweiligen Punkt fährt
      </td>
      <td>
        "Name" zeigt dir die Namen der aufgeführten Dateien an.
      </td>
      <td>
        "Letzter stabiler build" zeigt dir das Datum des Letzten stabilen Builds an.
      </td>
    </tr>
  </table>
  </body>
</html>
