---
layout: "projects"
title: "Projekt 1"
---
    <header class="pro1">
      <nav class="left2">
      <img class="logops" src="images/Folie3.png" alt="LOGO" />
    </nav>
    <nav class="center3">
      <h1>PROJEKT 1</h1>
    </nav>
      <nav class="center">
    </nav>
    </header>
    <div class="Breadcrumbs">
      <a href="index.html">Home</a>
      &gt;
      <a href="projekt_1.html">Projekt 1</a>
      &gt;
    </div>
    <div class="center">
    <nav class="liste2">
  </div>
</nav>
    <div class="center">

      <div class="Projekte">
  </div>
</div>
  <nav>
    <table class="Tabelle_mit_Projekten" border="0px">
      <div class="Namen">
        <tr>
          <td class="Head">Status</td>
            <td class="Head">Name</td>
            <td class="Head">Letzter stabiler Build</td>
        </tr>
      </div>
        <tr>
          <td>
            <div class="container">
            <img class="gruener_Punkt"src="images/2012-09-28_Kreisabfallwirtschaft_GruenerPunkt.png" alt="Status: Stabil" />
            <div class="textbox">
            <p class="text">Status Stabil</p>
            </div>
            </div>
          </td>
          <td>
          <a href="Website_Test.html">Hier geht es zu einem Projekt Ich gucke was passiert wenn der name der Datei l&auml;nger ist. </a>
          </td>
          <td>
            2 Tage 18 Stunden
          </td>
        </tr>
        <tr>
          <td>
            <div class="container">
            <img class="BlauerPunkt" src="images/vacation.png" alt="Status: Instabil" />
            <div class="textbox">
            <p class="text">Status Instabil</p>
            </div>
            </div>

          </td>
          <td>
            <a href="Website_Test.html">Hier geht es zu dem gleichen Projekt </a>
          </td>
          <td>
            2 Tage 18 Stunden
          </td>
        </tr>
        <tr>
          <td>
            <div class="container">
            <img class="roter_Punkt" src="images/10px-Roter_Punkt.svg.png" alt="Status: Fehlerhaft" />
            <div class="textbox">
            <p class="text">Status Fehlerhaft</p>
            </div>
            </div>
          </td>
          <td>
            <a href="Website_Test.html">Hier geht es zu dem gleichen Projekt </a>
          </td>
          <td>
            2 Tage 18 Stunden
          </td>
        </tr>
    </table>
  </nav>
<div class="beschreibung">
  <a href="legende.html">Legende:</a>
</div>
<div class="untendrunter">
</div>
