---
layout: "projects"
title: "Projekt 2"
---
    <header class="pro2">
      <nav class="left">
        <img class="logo" src="images/logopro2.png" alt="LOGO" />
      </nav>
      <nav class="center2">
      <h1>PROJEKT 2</h1>
    </nav>
      <nav class="center">
    </nav>
    </header>
    <div class="Breadcrumbs">
      <a href="index.html">Home</a>
      &gt;
      <a href="projekt_2.html">Projekt 2</a>
      &gt;
    </div>
      <nav class="center">
        <div class="Projekte">
  </div>
  </nav>
    <nav class="Head">
    <table border="0px">
      <tr>

        <td>Status</td>
          <td>Name</td>
        <td>Letzter stabiler Build</td>
      </tr>
    </nav>
      <tr>
        <td>
          <div class="container">
          <img class="gruener_Punkt2"src="images/2012-09-28_Kreisabfallwirtschaft_GruenerPunkt.png" alt="Status: Stabil" />
          <div class="textbox">
          <p class="text">Status Stabil</p>
        </div>
      </div>
        </td>
        <td>
          <a href="projekt_2_1.html"> Das ist ein Projekt</a>
        </td>
        <td>
          -__-
        </td>
      </tr>
      <tr>
      <td>
        <div class="container">
        <img class="roter_Punkt2"src="images/10px-Roter_Punkt.svg.png" alt="Status: Fehlerhaft" />
        <div class="textbox">
        <p class="text">Status Fehlerhaft</p>
      </div>
    </div>
      </td>
      <td>
      <a href="index.html">Das ist kein Projekt</a>
    </td>
    <td>
       -__-
    </td>
    </tr>

    </table>
    <div class="beschreibung">
      <a href="Legende.html">Legende: </a>
  </div>
  </body>
</html>
